#sports-news-table {
    /* font: larger sans-serif; */
    table-layout: fixed;
    width: 100%;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
}

#sports-news-col1 {
    width: 100px;
}

#sports-news-col2 {
    width: 80%;
}

#sports-news-col3  {
    width: 10%;
}

.sports-news-image, .sports-news-headline, .sports-news-source {
    max-width: 100%;
    max-height: 50px;
    /* margin-right: 5px; */
}

.sports-news-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    min-width: 100px;
    height: auto;
    max-height:auto;
}
