
Body {
  /*background-color: white;*/
  background: linear-gradient(to top, #FF9A6E 22%, #ffffff 113%);
}

a {
  font-size: 12pt;
  color: white;
  text-align: center;
  /*color: #FF9A6E;*/
  font-family: "helvetica";
  /* font-weight: bold; */
  /* background: linear-gradient(to top, #ffffff 22%, #ffffff 90%); */
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: light gray;
}

/* selected link */
a:active {
  color: blue;
}

nav .nav-header {
  background-color: #ffffff;
}
nav .nav-wrapper {
  height:50px;
  /* line-height: 200px; */
  background-color: #FF9A6E;
}

.container {
  margin-top: 25px;
}

.form-inline{
  font-size: 12pt;
  margin: 0 auto;
}

.title {
  font-size: 24pt;
  font-weight: 700px;
}

#map-div{
  height:350px;
  /*width:60%;*/
  /*float:right;*/
  /* margin-right: 6px; */
  /*border-style: solid;*/

}


#weather-div{
  height:auto;
  /*width:39%;*/
  /*float:left;*/
  /*border: solid;
  border-color: #000000;*/
  font-size: 12pt;
  /* margin-left: 6px; */

}

#sports-div{
  height:auto;
  /* width:99%; */
  color: white;
  /* font-size: 12pt; */
  /* margin-left: 6px; */
  padding-left: 12px;
  padding-right: 12px;
}

#places-div{
  height:auto;
  /* width:99%; */
  /*float:left;*/
  /*border: solid;
  border-color: #000000;*/
  font-size: 12pt;
  /* margin-top:20px; */
  /* margin-left: 6px; */

}

.card-panel {
  /* margin: 12px; */
  padding: 12px;
  color:#7FC3EB;
}

.content-card {
  padding: 5px;
  background-color: grey;
}

.large {
  font-size: 14px;
}

.bold {
  font-weight: bold;

}

.small {
font-size: 10px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

/* sports css */

#sports-news-table {
  /* font: larger sans-serif; */
  table-layout: fixed;
  width: 100%;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
}

#sports-news-col1 {
  width: 100px;
}

#sports-news-col2 {
  width: 80%;
}

#sports-news-col3  {
  width: 10%;
}

.sports-news-image, .sports-news-headline, .sports-news-source {
  max-width: 100%;
  max-height: 50px;
  /* margin-right: 5px; */
}

.sports-news-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  min-width: 100px;
  height: auto;
  max-height:auto;
}

/* Maps CSS */

.info-window-name {
  font-weight: bold;
  color: #FF9A6E;
  font-size: 16px;
}

a.map-link {
  color: #7FC3EB;
  font-size: 13px;
  font-weight: 300;
  text-decoration: underline;
}
