body {
  background: linear-gradient(to top, #FF9A6E 22%, #ffffff 113%);
}

#search {
  margin-left: 25px;
}

#submit {
  align-content: center;
  float: none;
  margin-left: 25px;
}

nav .nav-header {
  background-color: #7FC3EB;
}

/* come back to this one */
nav img {
  height: 100px;
  display: block;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

nav .nav-header {
  background-color: #7FC3EB;
}

.container {
  margin-top: 25px;
}

.card-title {
  font-size: 20pt;
  font-weight: 700px;
}

/* come back to this one */
#map-div{
  height:350px;
  /*width:60%;*/
  /*float:right;*/
  /* margin-right: 6px; */
  /*border-style: solid;*/
}

/* come back to this one */
#weather-div{
  height:auto;
  /*width:39%;*/
  /*float:left;*/
  /*border: solid;
  border-color: #000000;*/
  font-size: 12pt;
  /* margin-left: 6px; */
}

/* come back to this one */
#sports-div{
  height:auto;
  /* width:99%; */
  /* font-size: 12pt; */
  /* margin-left: 6px; */
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#places-div{
  height:auto;
  /* width:99%; */
  /*float:left;*/
  /*border: solid;
  border-color: #000000;*/
  font-size: 12pt;
  /* margin-top:20px; */
  /* margin-left: 6px; */
}

.card-panel {
  padding: 12px;
  color:#7FC3EB;
}

.card-title, .card-content {
  color:#7FC3EB;
  margin: auto;
  text-align: center;
}

/* sports css */
#sports-news-table {
  /* font: larger sans-serif; */
  table-layout: fixed;
  width: 100%;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
}

#sports-news-col1 {
  width: 100px;
}

#sports-news-col2 {
  width: 80%;
}

#sports-news-col3  {
  width: 10%;
}

.sports-news-image, .sports-news-headline, .sports-news-source {
  max-width: 100%;
  max-height: 50px;
  /* margin-right: 5px; */
}

.sports-news-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  min-width: 100px;
  height: auto;
  max-height: auto;
}

/* Maps CSS */
.info-window-name {
  font-weight: bold;
  color: #FF9A6E;
  font-size: 16px;
}

a.map-link {
  color: #7FC3EB;
  font-size: 13px;
  font-weight: 300;
  text-decoration: underline;
}
